.E4M_regtable td:nth-child(3) {
	text-align: right;
}
.E4M_regtable td:nth-child(7), .E4M_regtable td:nth-child(8) {
	text-align: center;
}
.E4M_regtable td:nth-child(8) {
	text-align: center;
}
#E4M_members_table td:nth-child(5) {
	text-align: right;
}
.E4M_hoverable_item {
	cursor: pointer;
}
.E4M_hoverable_list *{
	cursor: pointer;
}
.E4M_regtable * {
	cursor: pointer;
}
.E4M_hoverable_list tr:hover {
	background-color:lightgray;
}
.E4M_buttonset {
	margin-top: 5px;
	margin-bottom: 5px;
}
.E4M_buttonset div{
	width : 35px;
	height: 35px;
	padding-top: 0px;
	
	margin-left: 0px;
	margin-right: 5px;
	text-align : center;	
	display: inline-block;
}
.E4M_buttonset div p{
	margin-top: 8px;
	padding-top: 0px;
	//color: white;
	cursor: default;
}
.E4M_buttonset .E4M_off {
	background-color :white;
	color : blue;
}
.E4M_buttonset .E4M_on {
	
	border : 2px solid black;
}
.E4M_buttonset .other_sub_button {
	background-color : rgb(163, 163, 163);
}

.E4M_buttonset div:hover{
	border : 2px solid grey;
}
.E4M_buttonset p {
	color: black;
	vertical-align:middle;
}

.E4M_catlist div{
	width : 60px;
	height: 22px;
	padding-top: 5px;
	margin-right: 5px;
	margin-top: 5px;
	text-align : center;	
	display: inline-block;
	color: white;
}
.E4M_catlist .E4M_on{
	background-color : lightgray;
	border : 2px solid black;
	color : black;
}
.E4M_catlist .E4M_off{
	background-color : white;
	color : grey;
	border : 2px solid grey;
}
.E4M_css_key {
	color: gray;
}
.E4M_tab_not_confirmed td{
	color: grey;
}
	
.E4M_maindiv form{
	margin-top: 10px;
}	
.E4M_sharelink{
	padding: 5px 10px 5px;
	display :inline-block;
	color:gray;
	border: 0.5px solid black;
}
.E4M_dategrid{
	display: grid;
	grid: auto / 170px auto ;
}
.E4M_bigbutton button {
	color: black;
}

.E4M_formicon{
	position: relative;
	top: 5px;
	opacity: 50%;
}
.E4M_formicon:hover{
	opacity: 100%;
}